
///////////////
// VARIABLES
///////////////

// Documento

$content-width: 96rem;

// Tipografia

$font-family:'avenir', helvetica, arial, sans-serif;
$font-secondary:'lora', helvetica;

$font-size: 1.6rem;
$line-height: 1.8;

// Colores

$brand-color: #000000;
$brand-color-dark: #5e1926;

$brand-color-secondary: #aff372;

$black-dark: #5c5c5c;
$black: #262626;
$black-light: #707070;
$black-lighter: #f3f3f3;

$grey: #cbcbcb;
$gray-lighter: #f1f2f4;
$gray-light: #707070;

$white: #ffffff;


$color-spain: #ffd800;
$color-andina: #88bf67;
$color-bolivariana: #ff4200;
$color-mesoamericana: #009ee0;



.blog-color-1,
.nlposts-siteid-1 .nlposts-caption {
	border-top: 5px solid $brand-color;
}


.blog-color-2,
.nlposts-siteid-2 .nlposts-caption {
	border-top: 5px solid $color-spain;
}

.blog-color-3,
.nlposts-siteid-3 .nlposts-caption {
	border-top: 5px solid $color-andina;
}

.blog-color-4,
.nlposts-siteid-4 .nlposts-caption {
	border-top: 5px solid $color-bolivariana;
}

.blog-color-5,
.nlposts-siteid-5 .nlposts-caption {
	border-top: 5px solid $color-mesoamericana;
}



////////////
// MIXINS
////////////

// Centrado vertical y horizontal
@mixin centrado{
	position: absolute;
	top: 50%;
	left: 50%;

	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

}

// Transiciones

@mixin transicion{
	-webkit-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	
}

