/* Font-Face
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix')               format('embedded-opentype'),
           url('#{$file-path}.woff')                     format('woff'),
           url('#{$file-path}.ttf')                      format('truetype'),
           url('#{$file-path}.svg##{$font-family}')      format('svg');
  }
}

@include font-face("fontello", 'font/fontello');



.icon-heart:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-briefcase:before { content: '\e803'; } /* '' */
.icon-food:before { content: '\e804'; } /* '' */
.icon-circle:before { content: '\e805'; } /* '' */
.icon-quote-left:before { content: '\e807'; } /* '' */
.icon-quote-right:before { content: '\e808'; } /* '' */
.icon-down-open:before { content: '\e809'; } /* '' */
.icon-twitter:before { content: '\e80a'; } /* '' */
.icon-facebook:before { content: '\e80b'; } /* '' */
.icon-up-open:before { content: '\e80c'; } /* '' */
.icon-gplus:before { content: '\e80d'; } /* '' */
.icon-youtube-play:before { content: '\e812'; } /* '' */
