section#s_parroquias {
	//background-color: red;
	overflow: hidden;
	padding: 10rem 0;

	.carouselParroquias {
		width: 100%;
		//padding: 8rem 0;	


		button.slick-prev,
		button.slick-next {

		}
	}

	.fichaParroquia {
		padding-bottom: 10rem;

	}


	.botones-previus,
	.botones-nextus {
		
		float: left;
		cursor: pointer;
		//margin: 0 auto;
		width: 50%;
		//margin: 0 5rem;

	}


	.botones-previus{
		
		&::before {
		position: absolute;
		content: "\e811";
		height: 4rem;
		width: auto;
		left:  45%;

		font-family: "fontello";

		font-size: 2.2rem;
		line-height: 4rem;
		
		color: $black-light;
		}

	}

	.botones-nextus {
		
		&::before {
		position: absolute;
		content: "\e812";
		height: 4rem;
		width: auto;
		right:  45%;

		font-family: "fontello";

		font-size: 2.2rem;
		line-height: 4rem;
		
		color: $black-light;
		}
	}


	.imgParroquia {
		width: auto;
		
		position: relative;

		img {
			-webkit-box-shadow: 0px 10px 25px -2px rgba(107,107,107,0.5);
			-moz-box-shadow: 0px 10px 25px -2px rgba(107,107,107,0.5);
			box-shadow: 0px 10px 25px -2px rgba(107,107,107,0.5);

			//width: 100%;

		}
	}


 	.datosParroquia{
 		position: absolute;
 		background-color: $black-lighter;
 		width: 80%;
 		height: auto;
 		padding: 1rem 0.5rem;
 		
 		left: 50%;

 		-webkit-transform: translate(-50%, -40%);
		-ms-transform: translate(-50%, -40%);
		transform: translate(-50%, -40%);


		h5, 
		.direccion {
			margin: 0;
		}

		.direccion {
			font-size: 1.2rem;

		}

 	}

 	a:hover {
 		color: $black-light;
 		cursor: pointer;
 	}



}






/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 1100px) {
	
	section#s_parroquias {
		.datosParroquia {
			width: 85%;
			padding: 1rem 0.2rem;

			h5 {
				font-size: 1.5rem;
			}

			.direccion {
				font-size: 1.1rem;

			}
		}
	}

}



@media only screen and (max-width: 900px) {
	


	.slider1 {
		display:none;
	}


	.slider2 {
		display:block;
	}


}


@media only screen and (max-width: 650px) {
	

	section#s_parroquias {
		
		.botones-previus{
		
			&::before {
			left:  35%;
			}

		}

		.botones-nextus {
			
			&::before {
			right:  35%;
			}
		}

	}


}













@media only screen and (max-width: 450px) {
	

	section#s_parroquias {

		.botones-previus,
		.botones-nextus {

			&:before {
				display: none;	
			}
			

		}

		.fichaParroquia {
			padding-bottom: 7rem;

		}

		.datosParroquia {

			h5 {
				font-size: 1.3rem; 
				line-height: 1.2;
			}

			.direccion {
				font-size: 1.1rem;

			}
		}
	}


}




@media only screen and (max-width: 340px) {
	

	section#s_parroquias {



		.datosParroquia {

			h5 {
				font-size: 1.2rem; 
			}

			.direccion {
				font-size: 1rem;

			}
		}
	}


}










