
/* Previous / Next
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.carouselParroquias {

	button {
			position: absolute;
			top: 100rem;

			a{
				color: #ccc;
				font-weight: 400;
				&:hover{
					color: $color-primario;
				}
			}
		

		.slick-next{
			left: 2rem;
			a:before{
				content: '\e809';
				font-family: "fontello";
				display: inline-block;
				margin: 0 1rem;
				

			}
		}

		.slick-next{
			right: 2rem;
			a:after{
				content: '\e80a';
				font-family: "fontello";
				display: inline-block;
				margin: 0 1rem;
				
			}
		}
}
}


@media only screen and (max-width: 76.8rem) {
	nav.prevNext{
		display: none;
	} 
}